.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #FFF;
  z-index: 10;
}

.modal__text {
  font-size: 32px;
  font-weight: 400px;
  line-height: normal;
  margin: 0;
}
